@use './mixins' as *;

@media (max-width: 650px) {
    header {
        .navbar {
            .btn-mobile {
                display: block;
                position: absolute;
                width: 35px;
                height: 30px;
                top: 20px;
                right: 20px;
                border: none;
                background: transparent;
                cursor: pointer;
                z-index: 1000;
    
                .line {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 35px;
                    height: 4px;
                    border-radius: 2px;
                    background: #fff;
                    transition: .5s ease-in-out;

                    &:nth-of-type(2) {
                        top: 13px;
                    }
                    &:nth-of-type(3) {
                        top: 27px;
                    }
                }
            }
    
            #menu {
                flex-direction: column;
                justify-content: flex-start;
                position: absolute;
                top: 70px;
                right: 0;
                opacity: 0;
                width: 0;
                height: 100vh;
                overflow: hidden;
                background: $black-color;
                transition: .5s ease-in-out;
                z-index: 999;
    
                li {
                    margin: 1rem 0;

                    &:nth-of-type(1) {
                        margin-top: 2rem;
                    }
                }
            }

            &.open {
                #menu {
                    opacity: 1;
                    width: 100%;
                }

                .btn-mobile {
                    .line {
                        &:nth-of-type(1) {
                            top: 13px;
                            transform: rotate(225deg);
                        }

                        &:nth-of-type(2) {
                            right: 100%;
                            width: 0;
                        }
                        &:nth-of-type(3) {
                            top: 13px;
                            transform: rotate(-225deg);
                        }
                    }
                }
            }
        }
    }

    #home {
        .text-wrapper {
            h1{
                font-size: 2.5rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }

    #about {
        .profile-card {
            display: none;
        }

        .text-about {
            padding: 16px;
        }
    }

    #projects {
        .project-cards-container {
            .project-card {
                width: 100%;
                max-width: 400px;
                min-height: 300px;
                height: auto;

                &[data-anime="top"] {
                    transition-delay: 0;
                }
            }
        }
    }

    #contact {
        padding: 2rem 0;
        .contact-title {
            width: 100%;
        }
    }

} 
